**/bin/
**/obj/
**/[Bb]in/
**/[Oo]bj/
.vs/
**/.vs/
.vscode/
**/.vscode/
.idea/
**/.idea/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.bak
*.tmp
*.temp
*.log
**/TestResults/
**/.pytest_cache/
**/.coverage
**/coverage/
**/coverage-report/
**/*.coverage
**/*.coveragexml
**/artifacts/
**/publish/
**/out/
**/dist/
**/node_modules/
.env
.env.*
docker-compose.override.yml
